html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body
{
    margin: 60px 20px;
    background-color: #FAFAFA;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img
{
    display: flex;
    justify-content: center;  
}

.main-img img 
{
    width: 100%;
    max-width: 425px;
}

.main-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1
{
    font: 28px "Montserrat", sans-serif;
    font-weight: 500;
}

.main-text h1::after
{
    content: "";
    margin: 10px auto 0px auto;
    width: 33%;
    display: block;
    border-top: 3px solid #407BFF;
}

.description
{
    font: 16px "Montserrat", sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    text-align: center;
}

.buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure, .beach
{
    padding: 10px 30px;
    margin: 5px;
    font: 14px "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: #8B8B8B;
}

.adventure
{
    margin-top: 30px;
    background-color: #407BFF;
}

.services
{
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-info
{
    text-align: center;
}

.services-info h3
{
    font: 16px "Montserrat", sans-serif;
    font-weight: 500;
}

.tiles
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tile
{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex: 0 1 100%;
        border: 1px solid #407BFF1F;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #407BFF1F;
}

.tile-text
{
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    color: #8B8B8B;
    font: 13px "Montserrat", sans-serif;
}

.tile img
{
    margin-right: 30px;
    height: 40px;
}

@media screen and (min-width: 640px)
{
    .main
    {
        margin: 0 auto;
    }

    .main-text, .main-img
    {
        width: 550px;
    }

    .buttons
    {
        flex-direction: row;
    }
     
    .adventure, .beach
    {
        margin: 10px;
    }

    .services-info
    {
        width: 550px;
        margin-bottom: 30px;
    }

    .tiles
    {
        flex-direction: row;
    }

    .tile
    {
        flex-direction: column;
        align-items: center;
        flex: 0 1 33%;
    }

    .tile p 
    {
        text-align: center;
    }

    .tile img
    {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1100px)
{
    body 
    {
        max-width: 1040px;
        margin: 60px auto;
    }

    .main
    {
        flex-direction: row;
    }

    .main-text
    {
        order: 1;
        width: 490px;
        align-items: flex-start;  
        margin-right: 60px;      
    }

    .main-text h1::after
    {
        margin: 10px 0 0 0;
    }

    .main-img
    {
        order: 2;
        width: 490px;
    }

    .description
    {
        text-align: left;
    }

    .adventure
    {
        margin-left: 0;
    }

    .services
    {
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .services-info
    {
        width: 430px;
        text-align: left;
        margin: 0;
    }

    .tiles
    {
        width: 550px;
        margin-left: 60px;
    }

    .our > .services-info
    {
        order: 2
    }

    .our > .tiles
    {
        order: 1;
        margin: 0 60px 0 0;
    }
}